html {
	box-sizing: border-box;
	font-family: sans-serif;
	/* TODO: find a decent font on google.fonts */
}

h1 {
	font-size: 1.45rem;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background: url('images/water3.jpeg');
	background-size: cover;
	-webkit-background-size: cover;
}